.categories-page-bg-container {
  background-color: #181818;
  min-height: 100vh;
  display: flex;
}
.categories-content-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin-left: 70px;
  width: 85%;
}
.categories-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
