.home-page-bg-container {
  background-color: #181818;
  min-height: 100vh;
  display: flex;
  padding-bottom: 40px;
}
.homepage-content-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin-left: 70px;
  width: 85%;
}
.loading-img {
  height: 50px;
  width: 120px;
}
