.specific-new-releases-bg-container {
  background-color: #181818;
  min-height: 100vh;
  display: flex;
}
.specific-new-releases-content-container {
  display: column;
  padding-top: 30px;
  margin-left: 40px;
  width: 90%;
}
.new-releases-top-part {
  display: flex;
  height: 270px;
}
.new-releases-poster-props {
  height: 270px;
  width: 270px;
  border-radius: 10px;
}
.new-releases-top-sub-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10px;
}
.new-releases-title {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}
.new-releases-description {
  color: #fff;
  font-size: 16px;
}
.specific-new-songs-container {
  margin-top: 20px;
}

.specific-new-list-titles-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 33px;
  padding-right: 60px;
}
.specific-new-list-titles {
  color: #fff;
  font-size: 14px;
}
.new-titles-container {
  width: 90px;
}
.new-ordered-list-items {
  list-style-type: upper-alpha;
  color: #fff;
  font-size: 12px;
}
.line {
  color: #475569;
  border-width: 0.5px;
  background-color: #475569;
}
