.music-page-bg-container {
  background-color: #181818;
  min-height: 100vh;
  display: flex;
}
.music-main-content-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;

  width: 100%;
}
.your-music-heading {
  color: #fff;
  font-size: 24px;
}
.music-page-content {
  margin-left: 40px;
}
